body {
  font-family: Arial, Helvetica, sans-serif;
}

.apiKey {
  background-color: aliceblue;
  padding: 10px;
}

.fine-print {
  font-size: smaller;
}

label {
  margin-right: 5px;
}

button {
  margin: 5px;
}

.unhappy {
  padding: 2px;
  color: maroon;
  border: 1px dashed maroon;
}

.happy {
  color: green;
}

div.team {
  background-color: burlywood;
  padding: 10px;  
}
